In [1]:
import pandas as pd

In [4]:
# Read the CSV files into Pandas dataframes
nodes_df = pd.read_csv('Anne_files/nodes.csv')
people_places_df = pd.read_csv('Anne_files/people_places_table.csv')
edges_df = pd.read_csv('Anne_files/edges table.csv')

# Display the first few rows of each dataframe to verify the data
print("Nodes DataFrame:")
print(nodes_df.head())
print("\nPeople Places DataFrame:")
print(people_places_df.head())
print("\nEdges DataFrame:")
print(edges_df.head())

Nodes DataFrame:
   id             label
0   1  John von Neumann
1   2     David Hilbert
2   3   Lothar Nordheim
3   4          Einstein
4   5          Podolski

People Places DataFrame:
        person name  year      place  \
0  John von Neumann  1930  Princeton
1  John von Neumann  1926  Göttingen
2  John von Neumann  1927  Göttingen
3     David Hilbert  1926  Göttingen
4  John von Neumann  1931  Princeton

                                       source  page  person_id place_id
0  William Poundstone -- "Prisoner's Dillema"  17.0          1      PRI
1  William Poundstone -- "Prisoner's Dillema"  16.0          1      GOT
2  William Poundstone -- "Prisoner's Dillema"  16.0          1      GOT
3  William Poundstone -- "Prisoner's Dillema"  16.0          2      GOT
4  William Poundstone -- "Prisoner's Dillema"  17.0          1      PRI

Edges DataFrame:
   source  target        type      label
0       3       4  undirected  PRI, 1935
1       3       5  undirected  PRI, 1935
2       4       5  undirected  PRI, 1935
3       1       2  undirected  GOT, 1926
4       1       2  undirected  GOT, 1927

In [5]:
# Import necessary libraries for network visualization
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns

   source  target        type      label
0       3       4  undirected  PRI, 1935
1       3       5  undirected  PRI, 1935
2       4       5  undirected  PRI, 1935
3       1       2  undirected  GOT, 1926
4       1       2  undirected  GOT, 1927