# Pandas via Jupyter for manipulating basic tabular data

## Part 1: Getting used to Jupyter and reading in CSV data

Welcome to **Jupyter Notebooks**! You probably installed Juypter via **Anaconda**. Anaconda is a suite of data science resources: one of the apps it installs is Jupyter (another especially useful one is VS Code). Jupyter is a workbook-style approach to implementing **Python** code. Python relies upon **libraries**, which are collections of functions relating to a particular task. **Pandas** is one of the more popular libraries aimed at working with tabular data, which can also approximate the functionality of a **relational database**.

That is a mouthful, but the point is that we are going to use Pandas (a Python library) to manipulate and visualize tabular data, usually through the Jupyter interface. Pandas is hardly the only tool we could use to implement a relational database. Microsoft Access, Filemaker, and SQL (the latter of which refers to a language, not a particular app) are all also relational database. Pandas is free, open source, and (in my subjective opinion) easier to learn than the others.

Jupyter Notebooks operate in "cells". Each cell can be executed individually or sequentially to implement Python code. In addition to implementing Python code, a cell (such as this one) can also render Markdown formatting when you wish to focus on the text.

In [13]:
# The pounds sign designates a comment (i.e., not computationally active) within a cell that otherwise executes code.
# Let's try a very basic Python function, which is simply to print text:

print ("this is more Python text")

# pretty simple, but note that in any kind of coding the syntax really matters 
# (e.g. that the text you wish to display is in quotation marks, etc.)

this is more Python text

"Vanilla" Python can do all sorts of useful things: automate tasks using logical loops, basic mathematics, etc. It can even do some basic stuff with tabular data. But most data scientists move straight to Pandas for a broader range of functionality. So the first thing we need to do is "summon" Pandas. This next step unlocks many of the command we will use going forward.

In [2]:
# Importing the library (it could take a moment to load)
import pandas as pd

As historians, we differentiate between our *primary source*, which we try to keep in its original state, and our notes / transcription / markup of that text. In other words, if you want to work with a Byzantine manuscript, for instance, you could highlights part of the PDF, or transcribe it into a text file, but you would never write on the original document. Data science is no different: usually we *read in* data from a file (a CSV file, for instance), but once it is read in, you are working with a copy of the original document. You can modify the original document if you wish, but you don't have to, and would rarely want to do so.


Let's start by doing something very simple: reading in a CSV file, saving it as a local variable, and then looking at it.

In order to "read in" a file as a local variable, however, we need to know where it "lives," which brings us to the idea of **path**. The files on your computer are organized hierarchically, like a tree. The "path" is the sequence of steps that you have to "walk" in order to go from the **root** to the file you are looking for.

In [16]:
# Read in the dataframe
df = pd.read_csv("/Users/PICKETTJ/Dropbox/Active_Directories/Teaching/Graduate_Seminars/Historical_Methods_spring2025/Class_Exercises_Methods/initial_student_tabular_data/chrvalaandrew_Military_Strength_DDR.csv")

Some notes about this first, basic step:
    
The logic here is that this variable_name (here `df` for 'dataframe', but you can call it anything you like) will now designate the local version of the CSV file, which is now stored in t dataframe (a tabular data type specific to Pandas), found at the following path location.

Therefore, if you modify dataframe `df` in any future code, it will not alter the information in your CSV file (unless you explicitly tell it to). It also means that if you rename or move the source file, the code will deliver an error message if you try to run it again.  
    
    
Now let's check to make sure it read in properly:

In [17]:
# display the dataframe information simply by inputting the variable name and executing the code

df

      Component           HQ Personnel (Peak)
0           NVA   Strausberg          223,000
1          LaSK       Geltow          105,000
2            VM      Rostock           27,000
3           LSK   Strausberg           44,000
4  Grenztruppen        Paetz           47,000
5          MFSS  Lichtenberg           91,000
6          Vopo       Berlin          275,000
7           KDA       Berlin          210,000
8           NaN          NaN          799,000

In [18]:
# get some basic descriptive information about the dataframe
df.describe()

       Component          HQ Personnel (Peak)
count          8           8                9
unique         8           6                9
top          NVA  Strausberg          223,000
freq           1           2                1

## Part 2: Relating tables to one another

Now we are going to use Pandas functions to relate two or more tables to one another.

In a table, columns represent a one-to-one relationship between values. This means that each value in one column corresponds directly to exactly one value in another column.

But what if you want to represent a one-to-many relationship, with data captured in separate tables? For instance, imagine that you have a table tracking information about an individual (and within that table, each column represents a one-to-one relationship between that individual as an entity and a piece of information, e.g. one indivudal has one name, one age, etc.), and then another table tracking information about organizations. To model a one-to-many relationship, let's pretend that each individual can only be a member of one organization. Our two tables might look like this:

Table 1: Historical Figures
| ID | Name               | Birth_Year | Organization_ID |
|----|-------------------|------------|-----------------|
| 1  | Otto von Bismarck | 1815       | PRU1           |
| 2  | Karl Marx         | 1818       | INT1           |
| 3  | Rosa Luxemburg    | 1871       | SPD1           |
| 4  | Friedrich Engels  | 1820       | INT1           |
| 5  | August Bebel      | 1840       | SPD1           |

Table 2: Organizations
| Organization_ID | Name                     | Location | Founded |
|----------------|--------------------------|----------|---------|
| PRU1           | Prussian State Ministry  | Berlin   | 1848    |
| INT1           | First International      | London   | 1864    |
| SPD1           | Social Democratic Party  | Gotha    | 1875    |

The relationship illustrated above is a one-to-many relationship, because each individual can only be a member of one organization, but each organization can have many individuals.

*Join keys* are the columns that connect the two tables. In this case, the `Organization_ID` column in Table 1 connects to the `Organization_ID` column in Table 2. Join keys are relative to context: the `Organization_ID` column in Table 1 is the foreign join key, but that same value in Table 2 is the primary key.

And this is the real limitation of a spreadsheet program like Excel: you could eyeball those join columns and look up a relationship on your own, but Excel cannot make these relationships on its own. Using a spreadsheet program like Excel can be useful for entering and maintaining the raw data, but when you want to see the relationships between the data, you need to use a tool like Pandas.

Now let's read in some real historical tabular data and illustrate how Pandas can be used to relate two tables to one another.

To read in the data, first I need the path. In the example above, I copied the absolute path to the file (i.e., directions from your root directory all the way down to whatever folder and file name you are using), but you can also use a *relative path* if you wish: directions from the current working directory, which is by default wherever the Jupyter notebook is saved.

> *By the way*: it is best practice to avoid white spaces in your file names. This is because in some apps or computing languages white spaces can be *computationally active*, indicating (for instance) that the next word is a command, or that the next word is part of the file name. This is why you see file names like `my_data.csv` instead of `my data.csv`. If you already have white spaces, it's usually not too difficult to find a workaround, but why not avoid the extra step?

An example of a relative path: `df = pd.read_csv('data/my_data.csv')`: it will look for a file called `my_data.csv` in the `data` folder within the same directory as the Jupyter notebook.

However, I maintain some of my Jupyter notebooks in a folder far removed from my source data. Therefore, to keep things readable, I am going to create a few variables that stand in for much of my absolute path to where I want to go. That way, if I want to work from another computer, I can just change the variables

In [15]:
# setting a variable for my home directory: this is simply a string (i.e., string of characters) representing the path to the directory where I keep my source data

hdir = '/Users/PICKETTJ/Dropbox/Active_Directories/Teaching/Graduate_Seminars/Historical_Methods_spring2025/Class_Exercises_Methods/'

# this way I can easily change the path for every individual time I read something in down the line


# Now I can use the variables to read in the data: the `+` operator is used to concatenate strings
records = pd.read_csv(hdir + 'records.csv')
archives = pd.read_csv(hdir + 'archives.csv')

In [20]:
# the .head() function is a quick way to look at the first few rows of a dataframe (which are often longer than you want to look at all at once)
records.head()

,UID,Call_No,Title,Foreign_Key
0,72,i126-1-230-1,,2
1,73,i126-1-522-2,Ariza bukharskikh chonovnikov koshbegi o zhalo...,2
2,79,i126-1-1756-2,NaN,2
3,89,i126-1-1867-2,Ariza chinovniki Kushbegi ob otbore devushek d...,2
4,91,i126-1-1867-1,Ariza chinovniki Kushbegi ob otbore devushek d...,2

In [19]:
archives.head()

,UID,Acronym,Title,Non-English_Title
0,1,O‘zRFA ShI,The al-Beruni Institute of Oriental Studies of...,O‘zbekiston Respublikasi Fanlar akademiyasi Ab...
1,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
2,3,TSARI APSA,Telangana State Archives & Research Institute,NaN
3,4,IVANTaj,"Institute of Language, Literature, Oriental an...","Institut iazyka, literatury, vostokovedeniia i..."
4,5,IVR RAN,Institute of Oriental Manuscripts of the Russi...,Institut vostochnykh rukopisei Rossiiskoi akad...

Now we can see that these CSV files were successfully read in as Pandas dataframes.

What we have here are two separate tables: one tracking information about individual archival records, the other tracking information about the archives themselves. Logically, one record can only be housed in one archive, so this is a one-to-many relationship. The final column in the `records` dataframe, `archive_id`, is the foreign key that connects to the `id` column in the `archives` dataframe.

Now let's join the two tables together so that we can view the archive repository information alongside the records.

In [22]:
# Merge the records and archives dataframes
merged_df = pd.merge(
    records,                # left dataframe
    archives,              # right dataframe
    left_on='Foreign_Key', # column from records
    right_on='UID',        # column from archives
    how='left'             # keep all records entries, even if no matching archive
)

# Look at the first few rows of the merged result
merged_df.head()

,UID_x,Call_No,Title_x,Foreign_Key,UID_y,Acronym,Title_y,Non-English_Title
0,72,i126-1-230-1,,2,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
1,73,i126-1-522-2,Ariza bukharskikh chonovnikov koshbegi o zhalo...,2,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
2,79,i126-1-1756-2,NaN,2,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
3,89,i126-1-1867-2,Ariza chinovniki Kushbegi ob otbore devushek d...,2,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
4,91,i126-1-1867-1,Ariza chinovniki Kushbegi ob otbore devushek d...,2,2,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi

Note that your source data in the CSV files is untouched by any of this: if you were to update your files (e.g. with a new record or new archive), and then ran the cells again, your dataframe would reflect those changes.

Unless we choose to export it as a CSV file (which would be easy to do: `merged_df.to_csv('merged_data.csv', index=False)`), `merged_df` is a local copy of the merged dataframe. Which means we can mess around with it without harming anything. So let's clean up those column names a bit:

- Now that we've merged the two dataframes, we don't need separate columns for the UID in the archives dataframe and the Foreign_Key in the records dataframe: they are the same.
- Pandas noticed that we have duplicate column names in the two tables and so differentiated between them with the `_x` and `_y` suffixes. Let's clarify.

In [23]:
# Clean up the merged dataframe's column names
merged_df = merged_df.rename(columns={
    'UID_x': 'Record_ID',          # original ID from records table
    'Title_x': 'Record_Title',     # title from records table
    'Title_y': 'Archive_Name',     # title from archives table
    'Acronym': 'Archive_Acronym'   # keep this clear it's from archives
})

# Drop redundant columns (the foreign key and archive UID since they're the same)
merged_df = merged_df.drop(['Foreign_Key', 'UID_y'], axis=1)

# Look at the result
merged_df.head()

,Record_ID,Call_No,Record_Title,Archive_Acronym,Archive_Name,Non-English_Title
0,72,i126-1-230-1,,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
1,73,i126-1-522-2,Ariza bukharskikh chonovnikov koshbegi o zhalo...,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
2,79,i126-1-1756-2,NaN,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
3,89,i126-1-1867-2,Ariza chinovniki Kushbegi ob otbore devushek d...,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi
4,91,i126-1-1867-1,Ariza chinovniki Kushbegi ob otbore devushek d...,O‘zR MA,National Archive of the Republic of Uzbekistan,O‘zbekiston milliy arxivi

This is already pretty useful. It will be even more useful when we start making many-to-many relationships. For instance, it would be pretty simple to do something like have this merged table automatically produce a pre-formatted citation for each record: all you are doing is pulling information from the relevant columns and adding some formatting to it (e.g., quotation marks).